.Hello {
	font-size: 50px;
}

.glava {
	font-size: 35px;
}

.normal_size {
	width: 200px;
	height: 150px;
}

h1, h2, h3, h4, h5, h6 {
	cursor: default;
	font-size: 30px;
	font-family: "Lucida Sans Unicode";
}

h4 {
	font-size: 15px;
}

body {
	background-color: grey;
}